@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
}
/* header section  */
header{
    margin: 60px 160px;
    display: flex;
    justify-content: space-between;
}
.head-title{
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}
.head-links ul{
    display: flex;
    gap: 35px;
}
.head-links ul li{
    list-style: none;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.5s;
}
.head-links ul li:hover{
    transform: scale(1.2);
}
.head-links ul li a{
    text-decoration: none;
    color: black;
}

/* start section  */
.start{
    margin: 60px 160px;
    display: flex;
    justify-content: space-between;
}
.start-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.start-title{
    color: rgb(58, 58, 58);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}
.start-description{
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 30px auto;
}
.start-btn{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 41px;
    color: white;
    background: rgb(224, 44, 109);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    transition: transform 1.5s;
    cursor: pointer;
}
.start-btn:hover{
    transform: scale(1.5) translateX(30px) translateY(10px);
    border: 1px solid rgb(224, 44, 109);
    color: rgb(224, 44, 109);
    background: white;
}
.start-img img{
    position: absolute;
    right: 200px;
    z-index: 1;
    width: 100%;
}
.start svg{
    width: 100%;
}

/* sponsors section  */
.sponsors{
    margin: 100px 160px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 2px solid aliceblue;
    border-bottom: 2px solid aliceblue;
}

/* collection section  */
.collection{
    margin: 50px 160px;
}
.collection-title{
    text-align: center;
    color: rgb(58, 58, 58);
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;

}
.collection-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}
.card{
    max-width: 350px;
    max-height: 475px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}

/* extra button  */
.div-btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 160px;
    margin-bottom: 50px;
}
.div-btn .btn{
    border: none;
    color: rgba(224, 44, 109, 0.87);
    background-color: white;
    cursor: pointer;
    transition: transform 1s;
}
.div-btn .btn:hover{
    transform: scale(1.5) translateX(-10px);
}

/* feature section  */
.feature{
    margin: 50px 160px;
    display: flex;
    max-width: 1440px;
    gap: 120px;
}
.feature-title{
    color: rgb(10, 8, 38);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
}
.feature-description{
    color: rgb(108, 108, 108);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.feature-content button{
    color: white;
    background: rgb(224, 44, 109);
    width: 155px;
    height: 45px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    transition: 1s ease-in-out;
}
.feature-content button:hover{
    color: rgb(224, 44, 109);
    background: white;
    border: 1px solid rgb(224, 44, 109);
}

/* footer  */
footer{
    margin: 0;
    text-align: center;
    max-width: 1920px;
    background-color: black;
    color: white;
    padding: 50px;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
}
footer p{
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}
footer ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* for mobile device  */
@media screen and (max-width: 576px) {
    header{
        margin: 10px 20px;
        align-items: center;
    }
    .display{
        display: none;
    }
    .start{
        margin: 40px 20px;
        flex-direction: column-reverse;
    }
    .start-title{
        margin: auto;
    }
    .start-description{
        margin: 10px auto;
    }
    .start-img img{
        left: 20px;
    }
    .sponsors{
        margin: 10px 20px;
        border: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .collection{
        margin: auto;
    }
    .collection-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .div-btn .btn{
        margin-top: 20px;
    }
    .feature{
        flex-direction: column-reverse;
        margin: auto;
        text-align: center;
        gap: 40px;
    }
    .feature-title{
        text-align: center;
    }
    .feature-description{
        text-align: center;
    }
}